@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
};


.caprasimo-regular {
 font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}